PORT=5000

DATABASE_CONNECTION=your mongo db url

JWT_SECRET=51493a80f1e5781695efc6d190cae1e837f04902570dd5ef198fed2fc
ea48

JWT_EXPIRE=10min

EMAIL_HOST=enter your email host
EMAIL_USERNAME=enter your user name
EMAIL_PASSWORD=enter password
EMAIL_FROM=enter from email
EMAIL_PORT=enter port